@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;700&display=swap");

* {
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-gap-xs {
  gap: 4px;
}

.flex-gap-s {
  gap: 8px;
}

.flex-gap-m {
  gap: 16px;
}

.flex-gap-l {
  gap: 32px;
}

.flex-gap-xl {
  gap: 64px;
}

/* HEADER STYLE */
nav {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
}

.rcb9g {
  height: 40px;
  padding: 0 20px;
  border-radius: 6px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.bjae7 {
  height: 40px;
  padding: 0 20px;
  background-color: #000000;
  border-radius: 6px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.izn2r {
  display: flex;
  align-items: center;
}
